.*swp
.coverage
.ropeproject

src/tasks.dat

src/examples/taskfile
src/examples/keyfile
src/examples/taskdb
src/examples/tasks.dat
src/examples/*.pyc

src/task/.ropeproject/
src/task/*.pyc

src/test/.ropeproject/
src/test/taskdb
src/test/tasks.dat
src/test/*.pyc
